section h2
{
    text-transform: uppercase;
    color: #2079c7;
    font-size: 1em;
    font-family: sans-serif;
}

article
{
    padding: 0.5em 2em;
}

article a
{
    color: #000000;
    text-decoration: none;
}

article a:hover
{
    color: #c77920;
}

article div.title
{
    background-color: #ff0000;
}

article div.title-row
{
    display: flex;
    align-items: center;
    height: 2em;
}

article div.title-row:last-child
{
    border-bottom: 1px solid #cfcfcf;
}

.primary-title-left
{
    font-size: 1.25em;
    width: 40%;
}

.primary-title-center
{
    font-size: 1em;
    margin: auto;
}

.primary-title-right
{
    font-size: 1em;
    width: 20%;
    text-align: right;
}