body
{
    display: flex;
    align-items: stretch;
    margin: 0px;
    background-color: lightgray;
}

#container
{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0.5em;
}

.column
{
    padding: 0.25em;
}

#timeline-column
{
    width: 20%;
    background-color: red;
}

#descriptions-column
{
    width: 60%;
    background-color: green;
}

#tags-column
{
    width: 20%;
    background-color: blue;
}

.button-container
{
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.button
{
    background-color: black;
    opacity: 0.25;
    color: white;
    height: 2em;
    line-height: 2em;
    width: 16em;
    margin: auto;
}

.button:hover
{
    opacity: 0.5;
}

table, td
{
    border-collapse: collapse;
    font-family: monospace;
    font-size: 1.25em;
}

.rotated-left-90
{
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    transform: rotate(-90.00deg);
    margin-left: 0em;
    margin-right: 0em;
}

.calendar-year
{
    font-size: 1.5em;
    color: white;
    background-color: black;
    text-align: center;
}

.calendar-year-odd
{
    background-color: gray;
}

.calendar-month
{
    color: black;
    background-color: white;
    padding: 4px;                
}